<!doctype html>
<head>
    <title>{% block title %}{% endblock %} online clipboard</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<header>
    <nav>
        <h1><a href="{{ url_for('top.index') }}" >online clipboard</a></h1>
        {% if session.get('user_id') %}
        <a href="{{ url_for('top.userpage') }}">{{ session.get('user_id') }}</a>
        <a href="{{ url_for('auth.logout') }}" >ログアウト</a>
        {% else %}
        <a href="{{ url_for('auth.login') }}" >ログイン</a>
        <a href="{{ url_for('auth.registration') }}" >新規登録</a>
        {% endif %}
    </nav>
</header>
{% block content %}{% endblock %}
<footer>
    this site is powered by flask, sqlalchemy
</footer>