{% extends 'base.html' %}

{% block title %}{{ session.get('user_id') }} - {% endblock %}

{% block content %}
<script>
function onUpdate(url, textarea_id, checkbox_id){
    var textarea = document.getElementById(textarea_id);
    var checkbox = document.getElementById(checkbox_id);
    var http = new XMLHttpRequest()
    http.open("POST", url );
    http.setRequestHeader('text',encodeURIComponent(textarea.value))
    http.setRequestHeader('status','update')
    if(checkbox.checked){http.setRequestHeader('is_public', 1)}
    else{http.setRequestHeader('is_public', 0)}
    http.send();
}

function onDelete(url, textarea_id){
    var textarea = document.getElementById(textarea_id);
    textarea.disabled = true
    var http = new XMLHttpRequest()
    http.open("POST", url );
    http.setRequestHeader('status','delete')
    http.send();
}

function onCopy(id){
    var textarea = document.getElementById(id);
    textarea.select();
    document.execCommand("copy");
    textarea.blur();
}

async function onCatch(url, id){
    var textarea = document.getElementById(id);
    var http = new XMLHttpRequest()
    http.open("GET", url );
    http.onload = function () {
        textarea.value = http.responseText
    };
    http.send();
}

window.onload = function(){
{% for entry in entry_list %}
    onCatch("{{ url_for('api.get_entry', key=entry.key) }}" , "textarea{{ entry.key }}")
{% endfor %}
}
</script>
<section>
    <form name="hidden_form" method="POST">
        <input type="hidden" class="field" name="add" value=True>
        <input type="submit" value="追加する" class="button">
    </form>
{% for entry in entry_list %}
<div class="post">
    <textarea id="textarea{{ entry.key }}" name="text" rows="4" placeholder="本文"></textarea>
    <ul>
        <input type="checkbox" id="checkbox{{ entry.key }}" {% if entry.is_public %}checked="checked"{% endif %}>公開
        <button onClick="onUpdate( '{{ url_for('api.update_entry', key=entry.key) }}' ,'textarea{{ entry.key }}', 'checkbox{{ entry.key }}')">更新</button>
        <button onClick="onCopy('textarea{{ entry.key }}')">コピー</button>
        <li>作成日時　{{ entry.created_at }}　</li>
        <li>投稿者　{{ entry.account.user_id }}</li>
        <button onClick="onDelete( '{{ url_for('api.update_entry', key=entry.key) }}' ,'textarea{{ entry.key }}')">削除</button>
    </ul>
</div>
<hr>
{% endfor %}
</section>
{% endblock %}